<h4> <i class="fas fa-stream"></i> VocabBox </h4>
<div class="divider"></div>
<div>
 <p class="lead">All Your Vocabulary words are Here</p>
</div>

<div class="section">
 <a href="/auth/google" class="btn blue">
  <i class="fab fa-google left"></i>
  Login In With Your Google Account
 </a>
</div>